
.jlo-chatbar {
	right: 15px;
	max-width: calc(100% - 100px - 15px);
	text-align: right;

	/*
	//to change position of added chat
	direction: rtl;
	> * {
		direction: ltr;
	}*/
}

.jlo-chatbar__chat,
.my-chatbar-header {
	border-radius: 8px 8px 0 0;
}


.jlo-chatbar__chat {
	min-height: 200px;
	height: 300px;
	max-height: calc(100vh - 25px);

	padding: 0;

  	overflow: hidden;
}
.jlo-chatbar__chat:before {
	content: none;
}
.jlo-chatbar__chat {
	bottom: calc(100vh + 40px);
}
.jlo-chatbar__chat--open {
	transform: translateY(40px) translateZ(0);
}

.my-chatbar-header,
.my-chatbar-body {
	box-sizing: border-box;
}

.my-chatbar-header {
	position: relative;

	font-size: 14px;

	line-height: 40px;
	padding: 0 16px 0 8px;
	box-sizing: border-box;
	width: 100%;

	background-color: grey;

	color: white;
}

.my-chatbar-header > i {
	position: absolute;
	font-style: normal;
	cursor: pointer;
	top: 12px;
	line-height: normal;
	width: 12px;
	text-align: center;
}
.my-chatbar-header > i:hover {
	background-color: rgba(0,0,0,0.2);
}
.my-chatbar-header > i.minimize {
	right: 35px;
}
.my-chatbar-header > i.close {
	right: 12px;
}

.my-chatbar-header--closed {
	cursor: pointer;
}

.my-chatbar-footer {
	font-size: 14px;

	line-height: 30px;
	box-sizing: border-box;
	border: 1px solid grey;
	border-width: 0 1px 1px 1px;
}

.my-chatbar-footer input {
	line-height: 30px;
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	vertical-align: top;
	padding: 0 6px;
	box-sizing: border-box;
	height: 30px;
}

.my-chatbar-body {
	font-size: 14px;

	line-height: normal;

	height: calc(100% - 40px - 30px);

	padding: 8px;

	border: 1px solid grey;
	border-top: none;

	overflow: auto;

	word-break: break-all;
}
