/* Styles go here */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.main {
	height: 100%;
	box-sizing: border-box;
	padding: 20px;
	background-color: lightgrey;
}
.main > button {
	display: block;
	margin: 5px 0;
}



.jlo-chatbar {
	right: 15px;
	max-width: calc(100% - 100px - 15px);
}

.jlo-chatbar__minimized,
.jlo-chatbar__open,
.my-chatbar-header {
	border-radius: 8px 8px 0 0;
}

.jlo-chatbar__minimized {
	padding: 0 1.6em 0 .8em;
}

.jlo-chatbar__minimized > i {
	position: absolute;
	font-style: normal;
	right: 0.8em;
	top: 0.7em;
	line-height: normal;
	width: 1em;
	text-align: center;
}
.jlo-chatbar__minimized > i:hover {
	background-color: rgba(0,0,0,0.2);
}

.jlo-chatbar__open {
	padding: 0;
	
	border: none;
}
.jlo-chatbar__open:before {
	content: none;
}

.my-chatbar-header,
.my-chatbar-body {
	box-sizing: border-box;
}

.my-chatbar-header {
	position: relative;
	
	line-height: 2.5em;
	padding: 0 1.6em 0 .8em;
	box-sizing: border-box;
	width: 100%;
	
	background-color: grey;
	
	color: white;
}

.my-chatbar-footer {
	line-height: 2em;
	box-sizing: border-box;
	border: 1px solid grey;
	border-width: 0 1px 1px 1px;
}

.my-chatbar-footer input {
	line-height: 2em;
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	vertical-align: top;
	padding: 0 .4em;
	box-sizing: border-box;
	height: 100%;
}

.my-chatbar-body {
	line-height: normal;
	
	height: calc(100% - 2.5em - 2em);
	
	padding: 0.8em;
	
	border: 1px solid grey;
	border-top: none;
}

.my-chatbar-header > i {
	position: absolute;
	font-style: normal;
	cursor: pointer;
	top: 0.7em;
	line-height: normal;
	width: 1em;
	text-align: center;
}
.my-chatbar-header > i:hover {
	background-color: rgba(0,0,0,0.2);
}
.my-chatbar-header > i.minimize {
	right: 2.2em;
}
.my-chatbar-header > i.close {
	right: 0.8em;
}
