/* Styles go here */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.main {
	height: 100%;
	box-sizing: border-box;
	padding: 20px;
	background-color: lightgrey;
}

.main > .buttons,
.main > .config {
	display: inline-block;
	vertical-align: top;
}

.main > .config {
	padding-left: 100px;
}

.main > .buttons > button {
	display: block;
	margin: 5px 0;
}

.main > .config > div {
	display: block;
	margin: 5px 0;
}
