@require 'nib';

.jlo-chatbar {
	display: inline-block;
	box-sizing: border-box;
	height: 0px;
	line-height: 100vh; /*so that hidden open panel does not show over visible chat */
	bottom: 0;
	position: absolute;

	&__chat {
		position: relative;
		bottom: 100vh;
		text-align: left;
		width: 20em; /*width of chat elt*/
		margin: 0 .5em; /*separation of chat elt*/
		line-height: normal;
		overflow: hidden;

		height: 20em;

		background-color: white;

		display: inline-block;
		vertical-align: bottom;

		bottom: calc(100vh + 2.5em);
		transform: translateY(100%) translateZ(0); //z=0 to fix a redraw issue in firefox & chrome

		&--open {
			transform: translateY(2.5em) translateZ(0); //z=0 to fix a redraw issue in firefox & chrome
		}

		&:focus {
			outline-width: 0;
		}
	}

	&__resizer {
		width: 100%;
		height: 2px;
		box-sizing: border-box;
	}

	&-noselect {
		user-select: none;
	}
}
