@require './chatbar.default-theme.vars';
@require 'nib';

.jlo-chatbar {
	font-size: 0.75rem;
	right: $chatbar-sides-margin;
	max-width: "calc(100% - %s - %s)" % ($chatbar-sides-margin $chatbar-sides-margin);
	text-align: right;

	&__chat {
		font-size: $chat-font-size;
		width: $chat-width; /*width of chat elt*/
		margin: 0 $chat-sides-margin; /*separation of chat elt*/
		
		
		min-height: $chat-open-min-height;
		height: $chat-open-height;
		max-height: $chat-open-max-height;
		
		bottom: calc(100vh + $chat-minimized-height);
		transform: translateY(100%) translateZ(0); //z=0 to fix a redraw issue in firefox & chrome
		
		&--open {
			transform: translateY($chat-minimized-height) translateZ(0); //z=0 to fix a redraw issue in firefox & chrome
		}
		
		/*this is to keep a default visual header similar to minimized*/
		line-height: $chat-minimized-height;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background-color: $chat-background-color;
			height: $chat-minimized-height;
			z-index: -1;
		}
	}

	&__resizer {
		position: absolute;
		top: - ($chat-resizer-height / 2);
		left: 0;
		height: $chat-resizer-height;
		cursor: ns-resize;
	}
}

