$chatbar-sides-margin = 1.5em;

$chat-minimized-height = 2.5em;
$chat-sides-margin = 0.4em;
$chat-width = 20em;
$chat-font-size = 1.2em;
$chat-padding-sides = 0.8em;
$chat-open-min-height = 15em;
$chat-open-height = 25em;
$chat-open-max-height = 100vh;
$chat-border-width = 1px;

$chat-background-color = grey;
$chat-border-color = grey;

$chat-resizer-height = 4px;
