@require './chatbar.default-animations.vars';
@require 'nib';

@keyframes jlo-chatbar-open-leave-animation {
  0% {
  	opacity: 1;
  }
  50% {
  	opacity: 1;
  	transform: translateY(100%) translateZ(0); //z=0 to fix a redraw issue in firefox & chrome
  }
  75% {
  	opacity: 0;
  	transform: translateY(100%) translateZ(0); //z=0 to fix a redraw issue in firefox & chrome
  }
  100% {
  	opacity: 0;
  	transform: translateY(100%) translateZ(0); //z=0 to fix a redraw issue in firefox & chrome
  }
}

.jlo-chatbar__chat {
	&--open {
		&-add,
		&-remove {
			transition: transform $open-close-animation-time linear;
		}

		&-add:not(&-add-active),
		&-remove&-remove-active {
			transform: translateY(100%) translateZ(0); //z=0 to fix a redraw issue in firefox & chrome
		}

		&.ng-enter,
		&.ng-leave {
			animation-name: jlo-chatbar-open-leave-animation;
			animation-duration: ($enter-leave-animation-delay + $enter-leave-animation-time + $open-close-animation-time);
			animation-timing-function: linear;
		}

		&.ng-enter {
			animation-direction: reverse;
		}
	}

	&--closed {
		&.ng-leave {
			transition: opacity $enter-leave-animation-time linear;
		}
		&.ng-enter {
			transition: opacity $enter-leave-animation-time linear $enter-leave-animation-delay;
		}

		&.ng-enter:not(.ng-enter-active),
		&.ng-leave.ng-leave-active {
			opacity: 0;
		}

		&.ng-enter.ng-enter-active,
		&.ng-leave:not(.ng-leave-active) {
			opacity: 1;
		}
	}
}
